{% extends "layout/base.html.twig" %}
{% block title %}Kategori Düzenle{% endblock %}
{% set active = 'category' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form|raw }}
        </div>
    </div>
{% endblock %}