{% extends "layout/base.html.twig" %}
{% block title %}Kategori Listesi{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Kategoriler</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Kategori Adı</th>
                        <th>Durumu</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Otto</td>
                        <td>@TwBootstrap</td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}